{% extends 'layout.html' %}

{% block content %}
<br>
<div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to ClinicSync!</h1>
            <hr class="my-4">
            <p>ClinicSync is an automated AI based diagnosis delivery solution for the radiology domain.It defines an
                automated pipeline for the diagnosis and delivery of results to the patient immediately.</p>
            <br>
            <h2>Architecture</h2>
            <img src="/static/arc.png" alt="architecture">
        </div>
    </div>
</div>


{% endblock %}